.feed-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .feed {
        max-width: 350px;
        width: 100%;

        .posts {
            width: 100%;
            padding: 1rem 2rem;
            background-color: rgb(17, 17, 17);
            border-radius: 20px;

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .post {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;


                .user {
                    display: flex;
                    align-items: center;
                    gap: 0.6rem;

                    img {
                        width: 2.2rem;
                        padding: 0.1rem;
                        border: 2px solid transparent;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        background-color: #fff;
                        background: linear-gradient(rgb(17, 17, 17)) padding-box,
                            conic-gradient(#ee2a7b, #f9ce34, #6228d7, #ee2a7b) border-box;
                    }
                }

                img {
                    width: 100%;
                    border-radius: 20px;
                }

                .icons {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding-inline: 0.5rem;
                    justify-content: space-between;

                    button {
                        color: white;
                        border: none;
                        background-color: transparent;
                        cursor: pointer;

                        svg {
                            width: 1.4rem;
                            aspect-ratio: 1/1;
                        }
                    }

                    .left{
                        display: flex;
                        gap: 0.5rem;
                    }
                }
            }
        }
    }
}