@mixin flex($dir: row, $gap: 0rem) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}

.feed-page {

    .main {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        justify-content: center;
        align-items: center;

        .sidebar {
            width: 300px;
            top: 0;
            left: 0;
            height: 100%;
            background-color: rgb(17, 17, 17);
        }

        .feed {
            max-width: 400px;
            width: 100%;

            .posts {
                width: 100%;
                padding: 1rem 2rem;
                background-color: rgb(17, 17, 17);

                @include flex(column, 2rem);

                .post {
                    width: 100%;

                    @include flex(column, 1rem);

                    .user {
                        display: flex;
                        align-items: center;
                        gap: 0.6rem;

                        img {
                            width: 2.2rem;
                            padding: 0.1rem;
                            border: 2px solid transparent;
                            aspect-ratio: 1/1;
                            border-radius: 50%;
                            background-color: #fff;
                            background: linear-gradient(rgb(17, 17, 17)) padding-box,
                                conic-gradient(#ee2a7b, #f9ce34, #6228d7, #ee2a7b) border-box;
                        }
                    }

                    img {
                        width: 100%;
                        border-radius: 20px;
                    }

                    .icons {
                        width: 100%;

                        @include flex();
                        align-items: center;
                        padding-inline: 0.5rem;
                        justify-content: space-between;

                        button {
                            color: white;
                            border: none;
                            background-color: transparent;
                            cursor: pointer;

                            svg {
                                width: 1.4rem;
                                aspect-ratio: 1/1;
                            }

                            .like {
                                fill: red;
                            }
                        }

                        .left {
                            @include flex(row, 0.5rem);
                        }
                    }
                }
            }
        }
    }
}