.button {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #50C878;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

    &:hover{
        transform: scale(1.05);
    }

    &:active{
        transform: scale(0.9);
    }
}