@use './button.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
}

html{
    background-color: rgb(58, 58, 58);
    color: rgb(255, 245, 245);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}