.nav{
    width: 100%;
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid white;
    
    padding-block: 1.3rem;
    padding-inline: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}