@mixin flex-col($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
        min-width: 400px;
        height: fit-content;
        @include flex-col(1rem);

        padding-inline: 3rem;
        padding-top: 2rem;
        padding-bottom: 5rem;

        border-radius: 50px;

        form {
            @include flex-col(1rem);


            input {
                padding-inline: 0.8rem;
                padding-block: 0.5rem;
                border: none;
                border-radius: 3px;
            }

            div {
                @include flex-col(0.25rem);
            }

            p {
                margin: auto;

                .linkTag {
                    color: #50C878;
                }
            }
        }
    }
}