main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-container {
        min-width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-inline: 3rem;
        padding-top: 2rem;
        padding-bottom: 5rem;

        border-radius: 50px;

        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;


            input {
                padding-inline: 0.8rem;
                padding-block: 0.5rem;
                border: none;
                border-radius: 3px;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
            }

            button {
                padding: 0.5rem 2rem;
                border-radius: 0.5rem;
                border: none;
                background-color: #50C878;
                color: white;
                font-weight: 700;
                font-size: 1rem;
                cursor: pointer;
            }

            p {
                margin: auto;

                .linkTag {
                    color: #50C878;
                }
            }
        }
    }
}